#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.app-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

h1{
  margin-bottom: 0!important;
}

h3{
  margin-top: 0;
}

form {
  margin-bottom: 20px;
}

form input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.messages-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  min-height: 200px;
  overflow-y: auto;
}

.messages-container p {
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #f0f0f0;
}
